@model testcoreApp.Models.Employee
<!DOCTYPE html>
    <html>
    <head>
        <title>
            Confirmation Page
        </title>
    </head>
    <body>
    <h2>Employee @Model.EmployeeName</h2>
    </body>
    </html>